/* CSS Document */
/*Form Css*/
.frm-order-item {
background:#FFF;
margin-top:20px;
width:600px;
padding-left:10px;
}
/*Table css*/
.data-table table {
	width: 100%; 
  	border-collapse: collapse; 
	}
 /* Zebra striping */
.data-table tr:nth-of-type(odd) { 
  background: #eee; 
}
.data-table th { 
  background: #666666; 
  color: white; 
  font-weight: bold; 
}	
.data-table td, .data-table th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
/* 
Table reponsive css
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.data-table table, .data-table thead, .data-table tbody, .data-table th, .data-table td, .data-table tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.data-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	
	.data-table tr { border: 1px solid #ccc; }
	
	.data-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.data-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.data-table td:nth-of-type(1):before { content: "Order ID"; }
	.data-table td:nth-of-type(2):before { content: "Order Date"; }
	.data-table td:nth-of-type(3):before { content: "Billing First Name"; }
	.data-table td:nth-of-type(4):before { content: "Billing Email"; }
	.data-table td:nth-of-type(5):before { content: "Billing Country"; }
	.data-table td:nth-of-type(6):before { content: "Order Currency"; }
	.data-table td:nth-of-type(7):before { content: "Payment Method"; }
	.data-table td:nth-of-type(8):before { content: "Item Name"; }
	.data-table td:nth-of-type(9):before { content: "Qty"; }
	.data-table td:nth-of-type(10):before { content: "Price"; }
	.data-table td:nth-of-type(11):before { content: "Line Total"; }
	.data-table td:nth-of-type(12):before { content: "Line Tax"; }
}
/*Summary Start From Here*/
.order-summary{
/*border:1px solid red;*/
width:100%;
float:left;
 background:#FFF;
 padding:10px;
}
.order-summary .box { 
	float:left; padding-right:19px;
	
}
.order-summary .box .circle
{
  font-size:16px;	
  height: 170px;
  width: 170px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: #FFF;
  color:#666;
  border: 1px solid #ccc; 
  overflow:hidden;
  text-align:center;
  font-weight:bold;
  
}
.circle span{
font-size:25px;
}
.order-summary .box .circle:hover {
  background: #CCC;
   border: 1px solid #999; 
 
}
/*Summary title*/
.summary-title{
	 background: #666666; 
  color: white; 
	padding:10px;
	font-weight:bold;
	margin-bottom:20px;

	font-size:20px;
}

/*Hide Print Item*/
@media print{ 
.print_hide { display:none;}

.change_status{
	color:#000;
	cursor:auto;
}

.data-table th.action_column, .data-table td.action_column{
	display:none;
}

}